<div class="input-group">
  <input
    type="text"
    name=""
    id=""
    class="input"
    placeholder="Enter domain name here..."
  />
  <button class="btn btn--accent btn-search">
    <span class="icon-search">
      <svg class="icon__search">
        <use xlink:href="icons/sprite.svg#search"></use>
      </svg>
    </span>
    SEARCH
  </button>
</div>
<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use xlink:href="icons/sprite.svg#menu"></use>
    </svg>
  </span>
  <input
    type="text"
    name=""
    id=""
    class="input"
    placeholder="Enter domain name here..."
  />
</div>
