<div class="card testimonial">
  <div class="grid grid--1x2 grid--1x1">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="a testimony of mosh company" />
      <span class="icon-container icon-container--accent">
        <svg class="icon--small icon--white">
          <use xlink:href="icons/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error rerum
        aliquam sequi. Fugit temporibus illum ut itaque at perferendis maxime
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="icons/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__organization">ABC company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
